@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="">
    <h2>Listagem de Contatos</h2>
    <br />
    <div style="height:50px">
        <a class="btn-primary p-2" asp-controller="Contato" asp-action="Criar">Adicionar novo Contato</a>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Celular</th>
          <th scope="col" style="width:200px; padding-left:50px">Ações</th>
        </tr>
      </thead>
      <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ContatoModel contato in Model)
                {
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td>
                            <a style="background-color: #CAD960" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                            <a style="background-color: #D93E2E" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="ApagarConfirmacao">Excluir</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>